  <header id="page_header">
    <div id="logo">
      <a href="http://push.cwcon.org/" rel="home"><img src="/assets/img/key-logo.png" alt="Push logo" /></a>
    </div>
    <hgroup>
      <h1><a href="http://push.cwcon.org/" rel="home">Push</a></h1>
      <h2>Research <i>&amp;</i> Applied Theory in Writing with Source</h2>
    </hgroup>
    <nav id="site_nav">
      <ul>
        <li><a href="/issues/">Issues</a></li>
        <li><a href="/contribute/">Contribute</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>
  </header>
