$serifFont: "adelle", Arial, Georgia, "Times New Roman", serif;
$sansFont: "adelle-sans", Georgia, Helvetica, Arial, sans-serif;
$accentFont: "brandon-grotesque", Helvetica, Arial, sans-serif;
$monoFont: Monaco, Menlo, "Lucida Console", "Courier New", monospace;

$baseFontSize: 18px;

$black: #222;
$darkGray: #444;
$white: #F9F9F9;
