@import 'variables';
@import 'mixins';
@import 'normalize';
html {
  background-color: $black;
}
body {
  background-color: $white;
  color: $black;
  font-family: $serifFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin: 10.5em .5em .5em .5em;
}

/* Page Header */
header#page_header {
  padding-top: $baseLineHeight * 2;
  background-color: $basicBackground;
  padding: 5.55555%;
  padding-bottom: 2em;
  hgroup {
    * { @include reset-spacing; }
    h1 {
      font-family: $accentFont;
      font-size: 2em;
      text-transform: uppercase;
    }
    h2 {
      font-family: $accentFont;
      font-weight: normal;
      text-transform: uppercase;
      border-top: 1px solid lighten($darkGray, 40%);
    }
  }
  nav#site_nav {
    @include border-box;
    font-family: $accentFont;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 0em;
    left: 0em;
    padding: .5em;
    ul {
      @include reset-spacing;

      li {
        font-weight: normal;
        list-style-type: none;
        //float: left;
        //margin-left: .1em;
        margin-bottom: .5em;
        a {
          @include rounded-corners(.25em);
          text-decoration: none;
          text-align: right;
          color: #8BA58B;
          background-color: darken($black, 4%);
          display: block;
          line-height: 1;
          padding: .525em 5.55555% .475em .5em;
          &:active,&:hover,&:focus {
            background-color: lighten($black, 4%);
          }
        }
      }
    }
  }
}
/* Content Area */
div#content {
  margin: 0 5.55555%;
  padding: 0 0.75em;
  * { @include reset-spacing }
}
