@import 'variables';
@import 'mixins';
@import 'normalize';
html {
  background-color:  lighten($black,8%);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body {
  color: $black;
  font-family: $serifFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  margin: 10.5em .5em .5em .5em;
}
div#page {
  background-color: $white;
  @include box-shadow(.15em, .15em, .5em, .1em, #222);
}
/* Basic Styles */
img {
  display: block;
  max-width: 100%;
}


/* Page Header */
header#page_header {
  background-color: $basicBackground;
  padding: 5.55555%;
  hgroup {
    * { @include reset-spacing; }
    margin-right: 25%;
    h1 {
      @include text-shadow(0.02em,0.02em,.045em,#777);
      font-family: $accentFont;
      font-size: 4em;
      line-height: .75em;
      margin-left: -0.1em;
      text-transform: uppercase;
      a {
        color: inherit;
        text-decoration: none;
        small {
          font-size: .75em;
          color: lighten($black, 10%);
        }
        small:before {
          content: "// ";
        }
      }
    }
    h2 {
      font-family: $accentFont;
      font-weight: normal;
      font-size: $baseFontSize * 1.1;
      line-height: 1.36363636363636em;
      text-transform: uppercase;
      padding: 0.36363636363636em 0 0 0;
      padding-bottom: 0;
      //border-top: 1px solid lighten($darkGray, 40%);
      i {
        font-family: $serifFont;
      }
    }
  }
  div#logo {
    @include border-box;
    float: right;
    img {
      height: 4.5 * $baseFontSize;
      opacity: .8;
    }
  }
  nav#site_nav {
    @include border-box;
    font-family: $accentFont;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 0em;
    right: 0em;
    padding: .5em;
    ul {
      @include reset-spacing;

      li {
        font-weight: normal;
        list-style-type: none;
        //float: left;
        //margin-left: .1em;
        margin-bottom: .5em;
        a {
          @include rounded-corners(.25em);
          text-decoration: none;
          text-align: right;
          color: $secondaryAccent;
          background-color: darken($black, 4%);
          display: block;
          line-height: 1;
          padding: .525em 5.55555% .475em .5em;
          &:active,&:hover,&:focus {
            background-color: lighten($black, 4%);
          }
        }
      }
    }
  }
}
/* Content Area */
div#content {
  a {
    color: $secondaryAccent;
    text-decoration: none;
    border-bottom: 1px dotted $secondaryAccent;
    &:hover,&:focus,&:active {
      border-bottom: 1px solid $secondaryAccent;
      background: lighten($secondaryAccent,35%);
    }
    &:visited {
      color: darken($primaryAccent,5%);
      border-bottom: 1px dotted $primaryAccent;
      &:hover,&:focus,&:active {
        border-bottom: 1px solid $primaryAccent;
        background: lighten($primaryAccent,35%);
      }
    }
  }
  h1 {
    font-size: $baseFontSize * 1.5;
    font-family: $sansFont;
    margin: $baseLineHeight 0 $baseLineHeight/2 0;
    color: lighten($black, 25%);
  }
  margin: 0 5.55555%;
  padding-bottom: 2em;
  * { @include reset-spacing }
  ul,ol,p {
    margin-bottom: $baseLineHeight / 2;
  }
  li {
    margin-left: 12.5%;
    b,strong {
      font-family: $sansFont;
      font-weight: 600; /*Adelle Sans semi-bold*/
    }
  }
}

/* Footer */
footer#page_footer {
  @include border-box;
  font-family: $sansFont;
  width: 100%;
  max-width: 48em;
  position: absolute;
  padding: 3em 1em 1em 1em;
  left: 0;
  color: $white;
  * { @include reset-spacing; }
  img {
    height: 2em;
    width: 2em;
    float: left;
  }
  p {
    padding-top: .5em;
    padding-bottom: 2em;
    margin-left: 3em;
    font-weight: 300;
  }
  a {
    color: lighten($primaryAccent, 10%);
    text-decoration: none;
  }
}

/* 21em = just larger than a default iPhone vertical */
@media screen and (min-width: 21em) {
  body {
    margin: 3em .5em .5em .5em;
  }
  header#page_header {
    nav#site_nav {
      ul {
        li {
          width: 25%;
          float: left;
          a {
            margin: 0 .25em;
            text-align: center;
          }
        }
      }
    }
  }
}
/* 36em = just larger than a default iPhone horizontal */
@media screen and (min-width: 36em) {
  header#page_header {
    div#logo {
    }
  }
}

/* 49em = just larger than a default iPad vertical */
@media screen and (min-width: 49em) {
  body {
  }
  header#page_header {
    hgroup {
      width: 75%;
    }
    div#logo {
      img {
        margin: 0 auto;
      }
    }
    nav#site_nav {
      left: 0;
    }
  }
  div#page {
  }
}
/* 64em = just larger than a default iPad horizontal */
@media screen and (min-width: 64em) {
body {
  margin: 1em;
}
div#page {
  width: 48em;
}
header#page_header {
  nav#site_nav {
      top: .75em;
      left: 49.5em;
      padding-right: .75em; //1em looks funny w/ the content shadow
      width: auto;
      ul {
        li {
          width: auto;
          float: none;
          a {
            margin: 0;
            text-align: right;
          }
        }
      }
    }
  }
}
