<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Push Blog: {{ page.title}}</title>
  {% include head.html %}
</head>
<body id="{{page.id}}_page">
<div id="page">
  {% include header_blog.html %}
  <article id="content" class="instapaper_body post">
    <header>
      <h1 class="instapaper_title">{{ page.title }}</h1>
      <h2>Posted by {{ page.author }} on {{ page.date | date_to_long_string }}</h2>
    </header>
    <section>
    {{ content }}
    <section>
    <footer>
      <h1>About {{ page.author }}</h1>
      {{ page.author_bio | markdownify }}
    </footer>
  </article>
  {% include footer.html %}
</div>
</body>
</html>
